PHP_UPLOAD_MAX_FILESIZE=40M
PHP_POST_MAX_SIZE=40M
PHP_MEMORY_LIMIT=300M

PHP_XDEBUG_MODE=debug
PHP_XDEBUG_CLIENT_HOST=host.docker.internal
PHP_XDEBUG_CLIENT_PORT=9003
PHP_XDEBUG_OUTPUT_DIR=/app/.docker/php/xdebug/output

PHP_IDE_CONFIG=serverName=vfx.loc

XDEBUG_SESSION=cli

COMPOSER_MEMORY_LIMIT=-1
COMPOSER_HOME=/cache/.composer
COMPOSER_CACHE_DIR=/cache/.composer/cache
