$base-color: #4a4a4a;
$blue: #3ca9cc;
$blue-light: #87ffda;
$light:  #d8d8d8;
$danger: #ff0c00;
$gray: #f2f2f2;
$success : #7ed321;
$warning: #cf3c35;
$info: #f5a623;

$font-base: 'Aktiv Grotesk Corp';
$font-secondary: 'Roboto Slab', serif;
$font-size-filters: 11px;
//$font-base: 'Roboto Slab', serif;
//$font-secondary: 'Montserrat', sans-serif;

$transition: all 0.3s ease;

$primary: #DBAC35;
$secondary: #062E52;
$light: #edeff2;
$border-color: #9b9b9e;
$placeholder: #d0d2d3;

$font-menu: 17px;
