.Vue-Toastification__toast .b-avatar {
    padding-left: 1px;
    margin-right: 3px;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.toastification {
    .toastification-title {
        font-size: 14px;
        padding-top: 3px;
    }

    .toastification-close-icon {
        margin-left: 5px !important;
        padding-top: 2px;
    }
}

.badge-blue {
    background-color: #040233 !important;
}
