.footer {
    margin-top: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 19px;
    line-height: 24px;

    .navbar-brand {
        margin-bottom: 50px;
    }

    .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    .border-top {
        margin-top: 30px;
        padding-top: 30px;
        border-color: $primary !important;
    }

    a:not(.btn) {
        color: $primary;

        &:hover {
            opacity: 0.8;
        }
    }
}

.footer-link {
    font-size: 14px;
    line-height: 18px;
    color: #DBAC35;
    font-weight: 500;
    text-decoration: none;
    transition: $transition;

    &:hover {
        color: #DBAC35;
        opacity: .8;
    }

    &__icon {
        font-size: 24px;
    }
}
